@font-face {
    font-family: 'PolySans';
    src: url('/assets/fonts/PolySans-neutral.ttf') format('truetype');
    src: url('/assets/fonts/PolySans-bulky.ttf') format('truetype');
    src: url('/assets/fonts/PolySans-slim.ttf') format('truetype');
}
body {
     font-family: 'PolySans', Arial, sans-serif;
     margin: 0;
     background-color: #1e1e1e;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
 #chat-container {
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display: flex;
     flex-direction: column;
     height: 100vh;
}
 #chat-box {
     flex-grow: 1;
     overflow-y: auto;
     background-color: #1e1e1e;
     padding: 0px 60px 5px 60px;
     margin-top:62px;
     border-radius: 0;
}
 .input-area {
     display: flex;
     padding: 10px;
}
 .input-wrapper {
     border: 1px solid #cccccc;
     margin: 0 20px 20px;
     position: relative;
     padding: 10px;
     background: #333;
     border-radius: 22px;
     display: flex;
     align-items: center;
}
 #chat-input {
     font-family: 'PolySans', Arial, sans-serif;
     resize: none;
     font-size: large;
     flex-grow: 1;
     background: transparent;
     border: none;
     padding: 10px 20px;
     color: #fff;
     margin-right: 10px;
     border-radius: 22px;
     height: 22px;
     max-height: 176px;
     overflow-y: hidden;
     outline: none;
}
#send-button {
    background: white;
    color: black; /* This will set the text color, which is also used as the SVG color due to 'currentColor' */
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#send-button:hover {
    background-color: #f0f0f0; /* Slightly different shade for hover effect */
}
 .message {
     padding: 10px;
     margin-bottom: 15px;
     border-radius: 4px;
     word-wrap: break-word;
     background-color: #333;
     color: white;
}
.message-label {
  margin-bottom: 8px;
}
.user-message {
   /* background-color: none; */
}

.ai-message {
  /* background-color: #333; */
}
#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 50px;
  padding-top: 60px;
  background: #333; /* Dark background for the menu */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  top: 0;
  left: 0;
  color: #fff; /* Light text color for readability */
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu a {
  color: #fff; /* Light link color */
  text-decoration: none;
}

#menu a:hover {
  color: #f0f0f0; /* Slightly lighter color on hover */
}

#menuToggle input:checked ~ span {
  background: #fff; /* Change to light color when menu is open */
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/* Style for the edit button inside the menu */
#newChatButton {
  position: absolute;
  top: 12px; /* Adjust as needed for alignment */
  right: 20px; /* Position to the right inside the menu */
  background: none;
  border: none;
  color: #fff; /* Adjust color for visibility */
  cursor: pointer;
  padding: 0; /* Remove any default padding */
}

#newChatButton .material-symbols-outlined {
  font-size: 33px; /* Adjust size as needed */
  background: none;
}
.connection-status {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.5); /* Optional: for better visibility */
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em; /* Adjust size as needed */
}
 .flex {
     display: flex;
}
 .align-items-center {
     align-items: center;
}
