@font-face {
    font-family: 'PolySans';
    src: url('/assets/fonts/PolySans-neutral.ttf') format('truetype');
    src: url('/assets/fonts/PolySans-bulky.ttf') format('truetype');
    src: url('/assets/fonts/PolySans-slim.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 7px; /* 10px */
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    cursor: default;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'PolySans', Arial, sans-serif;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #1e1e1e;
    padding: 0px 60px 5px 60px;
    /* padding-top: 62px; */
    margin-top: 62px;
    border-radius: 0;
}

.input-area {
    display: flex;
    padding: 10px;
}

.input-wrapper {
    position: relative;
    border: 2px solid #cccccc;
    margin: 0 20px 20px;
    padding-left: 10px;
    background: #333;
    border-radius: 22px;
    display: flex;
    align-items: center;
flex-direction: row;
justify-content: space-between;
  overflow: hidden;
    flex-shrink: 0; /* This ensures that the input area doesn't shrink */
}

.button-counter-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

#chat-input {
    font-family: 'PolySans', Arial, sans-serif;
    resize: none;
    font-size: large;
    flex-grow: 1;
    background: transparent;
    border: none;
    padding: 20px 75px;
    padding-left: 54px;
    color: #fff;
    outline: none;
    height: 22px;
    /* max-height: 176px; */
    overflow-y: auto;
    border-radius: 22px;
    /* margin-right: 17px; */
    flex-grow: 1;
}

#send-button, #expander-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#expander-button {
  display: none;
}

#send-button:hover {
    background-color: #f0f0f0;
}

#send-button.hover-effect {
    background-color: #f0f0f0;
}

#char-count {
    background-color: transparent;
    color: white;
    display: none;
    /* font-size: 0.9em; */
    text-align: center;
    word-wrap: break-word;
display: block; 
}

#char-count hr {
    margin: 0;
    border-top: 1px solid white;
}

#upload-button {
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#upload-button:hover {
  background-color: #f0f0f0;
}

.upload-preview-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 44px;
  width: 44px;
}

.image-preview {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: none;
}


.textarea-max-height #expander-button {
    display: block;
}

.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #333;
    color: white;
}

.message-label {
    margin-bottom: 8px;
}

.user-message {
    /* background-color: none; */
}

.ai-message {
    /* background-color: #333; */
}

#menuToggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 50px;
    padding-top: 60px;
    background: #333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    top: 0;
    left: 0;
    color: #fff;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    color: #f0f0f0;
}

#menuToggle input:checked~span {
    background: #fff;
}

#menuToggle input:checked~ul {
    transform: none;
}

#newChatButton {
    position: absolute;
    top: 12px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
}

#newChatButton .material-symbols-outlined {
    font-size: 33px;
    background: none;
}

#status-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
}

.connection-status, .ping-status {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.notification-area {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#drop-zone.highlight {
  border: 2px dashed #666;
}

 .uploaded-image {
   /* max-height: 35vh;
   max-width: 50vw; */
   height: 35vh;
   margin: 10px 0;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2);
   transition: opacity 0.3s ease-in-out;
 }

 .uploaded-image-loading {
   opacity: 0.5;
 }

.image-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.show-modal {
  display: flex;
}

.fullscreen-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}